#set($subject = "$device.name: alarme!")
#set($alarmName = $event.getString("alarm"))
#if(    $alarmName == "general")
	#set($alarmName = "Geral")
#elseif($alarmName == "sos")
	#set($alarmName = "SOS")
#elseif($alarmName == "vibration")
	#set($alarmName = "Vibração")
#elseif($alarmName == "movement")
	#set($alarmName = "Movimento")
#elseif($alarmName == "lowspeed")
	#set($alarmName = "Velocidade Baixa")
#elseif($alarmName == "overspeed")
	#set($alarmName = "Excesso de Velocidade")
#elseif($alarmName == "fallDown")
	#set($alarmName = "Queda")
#elseif($alarmName == "lowPower")
	#set($alarmName = "Pouca Energia")
#elseif($alarmName == "lowBattery")
	#set($alarmName = "Bateria Fraca")
#elseif($alarmName == "fault")
	#set($alarmName = "Falha")
#elseif($alarmName == "powerOff")
	#set($alarmName = "Desligado")
#elseif($alarmName == "powerOn")
	#set($alarmName = "Ligado")
#elseif($alarmName == "door")
	#set($alarmName = "Porta")
#elseif($alarmName == "lock")
	#set($alarmName = "Trancado")
#elseif($alarmName == "unlock")
	#set($alarmName = "Destrancado")
#elseif($alarmName == "geofence")
	#set($alarmName = "Cerca Geográfica")
#elseif($alarmName == "geofenceEnter")
	#set($alarmName = "Entrada na Cerca Geográfica")
#elseif($alarmName == "geofenceExit")
	#set($alarmName = "Saída da Cerca Geográfica")
#elseif($alarmName == "gpsAntennaCut")
	#set($alarmName = "Antena GPS Cortada")
#elseif($alarmName == "accident")
	#set($alarmName = "Acidente")
#elseif($alarmName == "tow")
	#set($alarmName = "Reboque")
#elseif($alarmName == "idle")
	#set($alarmName = "Ocioso")
#elseif($alarmName == "highRpm")
	#set($alarmName = "RPM Alto")
#elseif($alarmName == "hardAcceleration")
	#set($alarmName = "Aceleração Brusca")
#elseif($alarmName == "hardBraking")
	#set($alarmName = "Frenagem Brusca")
#elseif($alarmName == "hardCornering")
	#set($alarmName = "Curva Brusca")
#elseif($alarmName == "laneChange")
	#set($alarmName = "Mudança de Faixa")
#elseif($alarmName == "fatigueDriving")
	#set($alarmName = "Condução com Fadiga")
#elseif($alarmName == "powerCut")
	#set($alarmName = "Corte de Energia")
#elseif($alarmName == "powerRestored")
	#set($alarmName = "Energia Restaurada")
#elseif($alarmName == "jamming")
	#set($alarmName = "Interferência")
#elseif($alarmName == "temperature")
	#set($alarmName = "Temperatura")
#elseif($alarmName == "parking")
	#set($alarmName = "Estacionamento")
#elseif($alarmName == "bonnet")
	#set($alarmName = "Capô")
#elseif($alarmName == "footBrake")
	#set($alarmName = "Freio de Pé")
#elseif($alarmName == "fuelLeak")
	#set($alarmName = "Vazamento de Combustível")
#elseif($alarmName == "tampering")
	#set($alarmName = "Violação")
#elseif($alarmName == "removing")
	#set($alarmName = "Remoção")
#end
$device.name alarme: $alarmName em $dateTool.format("dd 'de' MMMM HH:mm", $event.eventTime, $locale, $timezone)