#set($subject = "$device.name: resultado do comando recebido")
Resultado do comando recebido: $position.getString("result") em $dateTool.format("dd 'de' MMMM 'às' HH:mm", $event.eventTime, $locale, $timezone)