#set($subject = "$device.name: motorista foi alterado")
#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString("driverUniqueId"))
#end
Motorista $driverName foi alterado em $device.name em $dateTool.format("dd 'de' MMMM HH:mm", $event.eventTime, $locale, $timezone)