#set($subject = "$device.name: arquivo de mídia recebido")
$device.name $event.getString("media") recebido: $event.getString("file") em $dateTool.format("dd 'de' MMMM HH:mm", $event.eventTime, $locale, $timezone)