#set($subject = "Lembrete de expiração do dispositivo")
<!DOCTYPE html>
<html>
<body>
Seu dispositivo $device.name irá expirar em $dateTool.format("dd 'de' MMMM 'às' HH:mm", $expiration, $locale, $timezone).
</body>
</html>
