#set($subject = "Lembrete de expiração de conta")
<!DOCTYPE html>
<html>
<body>
Sua conta de usuário irá expirar em $dateTool.format("dd 'de' MMMM HH:mm", $expiration, $locale, $timezone).
</body>
</html>
